@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-r5q7ni');
	src:url('fonts/icomoon.eot?#iefix-r5q7ni') format('embedded-opentype'),
		url('fonts/icomoon.woff?-r5q7ni') format('woff'),
		url('fonts/icomoon.ttf?-r5q7ni') format('truetype'),
		url('fonts/icomoon.svg?-r5q7ni#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
	content: "\e604";
}
.icon-play:before {
	content: "\e600";
}
.icon-pause:before {
	content: "\e601";
}
.icon-backward:before {
	content: "\e602";
}
.icon-forward:before {
	content: "\e603";
}
.icon-shuffle:before {
	content: "\e605";
}
.icon-indent-increase:before {
	content: "\e606";
}
